@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=VT323&display=swap');

:root {
  --clr-neon: hsl(56, 100%, 52%, 1);
  --clr-bg: hsl(56, 100%, 40%);
  --primary: hsl(56, 100%, 52%);
  --secondary: hsl(56, 100%, 40%);
  --unfocus: #6F2232;
  --disable: #4E4E50;
  --background: #1A1A1D;
  --blue: #1e90ff;
  --white: #ffffff;
  --text: #ffffff;
}

.alignRight{
  float: right;
}
.alignLeft{
  float: right;
}

.m-5{
  margin: 5px;
}

.ml-5{
  margin-left: 5px;
}

.mr-5{
  margin-right: 5px;
}

.mr-10{
  margin-right: 10px;
}

.main {
  margin: 10%;
}

.address {
  overflow: hidden;
  width: 100%;
  padding-right: 32px;
  text-overflow: ellipsis;
  max-width: 150px;
}

.addButton{
  max-width: 150px;
}



.Fontcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  border-radius: 5px
  
}

.Fontcard:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.right {
  float: right;
}


.navbar-collapse{
  text-align: center;
}

.text-collapse{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 0; /* number of lines to show */
          line-clamp: 0;
  -webkit-box-orient: vertical;
}


button:disabled {
  background: var(--unfocus);
}


.navbar-dark .navbar-toggler-icon {
  color: var(--primary);
}

body {
  background-color: var(--background);
  color: var(--text);
}

* {
  font-family: 'VT323', monospace;
  letter-spacing: 0.1em;
  font-size: 20px;
  line-height:1.3;
}

p {
  margin: 0;
}